@font-face {
	font-family: '25thAnniversary';
	src:url('/25thAnniversary/fonts/25thAnniversary.eot?fxj5p7');
	src:url('/25thAnniversary/fonts/25thAnniversary.eot?#iefixfxj5p7') format('embedded-opentype'),
		url('/25thAnniversary/fonts/25thAnniversary.ttf?fxj5p7') format('truetype'),
		url('/25thAnniversary/fonts/25thAnniversary.woff?fxj5p7') format('woff'),
		url('/25thAnniversary/fonts/25thAnniversary.svg?fxj5p7#25thAnniversary') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: '25thAnniversary';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-sort-alpha-asc:before {
	content: "\50";
}
.icon-sort-alpha-desc:before {
	content: "\51";
}
.icon-evernote:before {
	content: "\37";
	font-size:115%;
}
.icon-info:before {
	content: "\31";
}
.icon-mail:before {
	content: "\32";
}
.icon-google-plus:before {
	content: "\33";
}
.icon-facebook:before {
	content: "\34";
}
.icon-twitter:before {
	content: "\35";
}
.icon-linkedin:before {
	content: "\36";
}
.icon-info:before {
	content: "\31";
	
}
.icon-mail:before {
	content: "\32";
	
}
.icon-share:before {
    content: "\38";
}
.icon-bin:before {
	content: "\4f";
	
}
.icon-uni-on:before {
	content: "\74";
	font-size:110%;
}
.icon-uni-off:before {
	content: "\75";
	font-size:110%;
}
.icon-boxes:before {
	content: "\41";
}
.icon-stats:before {
	content: "\42";
}
.icon-newspaper:before {
	content: "\43";
}
.icon-images:before {
	content: "\44";
}
.icon-camera:before {
	content: "\45";
}
.icon-headphones:before {
	content: "\46";
}
.icon-video-camera:before {
	content: "\47";
}
.icon-mic:before {
	content: "\48";
}
.icon-profile:before {
	content: "\49";
}
.icon-file-picture:before {
	content: "\4a";
}
.icon-bubble:before {
	content: "\4b";
}
.icon-cog:before {
	content: "\4c";
}
.icon-pie-chart:before {
	content: "\4d";
}
.icon-stats-dots:before {
	content: "\4e";
}
.icon-stats-bars:before {
	content: "\4f";
}
.icon-lab:before {
	content: "\52";
}
.icon-chalkboard2:before {
	content: "\53";
	font-size:75%;
}
.icon-calendar:before {
	content: "\54";
}
.icon-news:before {
	content: "\55";
}
.icon-checkbox-checked:before {
	content: "\56";
}
.icon-checkbox-unchecked:before {
	content: "\57";
}
.icon-list:before {
	content: "\58";
}
.icon-chevron-up:before {
	content: "\59";
}
.icon-chevron-down:before {
	content: "\5a";
}
.icon-search:before {
	content: "\61";
}
.icon-sort-alpha-asc:before {
	content: "\50";
}
.icon-sort-alpha-desc:before {
	content: "\51";
}
.icon-cancel-circle:before {
	content: "\64";
}
.icon-clock:before {
	content: "\62";
}
.icon-user:before {
	content: "\63";
}
