*{box-sizing:border-box;}

body {
    background-color: white;
    font-family: 'Oxygen';
    color: white;
    font-weight: 400;
    /*overflow-x:hidden;*/
	overflow-y:hidden;
}
body p{font-family:'Roboto'}

h1{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 42px;
    font-family:'Marcellus SC'
}
h2{
	font-family:'Marcellus SC'
}
h3{
	font-family: 'Marcellus SC';
	font-size:18px;
}
h4{
	font-family:'Roboto'
}

.clear{clear:both}
header{
 	 z-index: 998;
  width: 100%;
  padding: 15px;
  padding-left: 15px;
  background-color: rgba(255,255,255, .8);
  position: fixed;
  opacity: .99;
  padding-bottom: 10px;
  box-shadow: 0px 3px 3px #ccc;
 
}
.old_browsers{
	padding:5%;
	display:none;
}
.ie .old_browsers{
	display:block;
}
.old_browsers a{
	color:#0057a5;
	
}
.old_browsers p{
	color:black;
}

.bigImg
	{
		background:#fff;
		z-index:900000001;
		padding:30px;
		position:absolute;
		/*display: none;*/
		width:50%;
		border: 1px solid #ccc;
		top: 80px;
		margin-bottom:30px;
		-moz-box-shadow: 5px 5px 5px #ccc;
		-webkit-box-shadow: 5px 5px 5px #ccc;
		box-shadow: 5px 5px 5px #ccc;
		width:75%;
		position:absolute;	
		left:0%;
		top:30px;
		min-height:400px;
		max-height:75%;
		
		margin-left:15%;
		color:#0057a5;
		
	}
	
	
.bigImgClose{position:relative;float:right; margin-right:-50px;width:30px;margin-top:-50px; z-index:100;}
.bigImg div.contain{overflow-y:scroll;height:400px;}		
	.bigImg ul{margin:10px; margin-left:-10px; margin-top:20px;margin-bottom:0px; position:relative}
		.bigImg ul li{ padding-bottom:0px; cursor:pointer;margin-top:10px; display:inline-block; list-style:none;}
		.bigImg ul li,.bigImg ul li a{color:#999999;text-decoration:none; font-size:1.2em;}
			.bigImg ul li:hover, .bigImg ul li a:hover, .bigImg ul li.on a{color:#0057a5;}
		#LSinfo, #mailform {
		  width: 75%;
		  background-color: #FFF8DF;
		  border: 1px solid #cccccc;
		  position:absolute;
		  margin-left: -5px;
		  margin-bottom: 10px;
		  top:-300px;
		  left:0;
		  padding:10px;
		}	
header section.logo{ padding:0;height: 50px; background-repeat: no-repeat;width:50px;
}
header .dkblue{font-size:1.5em; color:#0057a5}
.internal_search {
	  color: #189E81;
	  font-size: 17px;
	 
	  top:10px;
	width:60%;
	  padding-right:5px;
	  position:fixed;
	  z-index:999;
	 margin-left:115px;
	}
		.internal_search form {
		 
		  width: 100%;
		  margin-top: -25px;
		  font-size: 14px; 
		}
		.internal_search input {
		  ;
 			 width: 100%;
  			padding: 2px;
 			font-size:1.2em;
 			 border-radius: 5px;
 			 border:2px solid #ccc;
 			
		}
		.internal_search .search {
		    float: right;
			  background: #0057a5;
			  color: #EBFAF7;
			  padding: 8px;
			  padding-bottom: 0px;
			  cursor: pointer;
			  font-size: 15px;
			  width: 27px;
			  padding-top: 4px;
		}
		.viewIcons{ position:fixed; right:10px; top:15px; }
		.viewIcons div{display:inline-block;}
		.view{margin-top:4px; font-size:1.1em;  cursor:pointer;  z-index:1000000000;margin-left:10px; padding:3px;}
			.view sup{font-size:.65em}
			.view.off{color:#999999;  }
			.view.on{ color:#0057a5;}
			.view li:hover, .view li:active{color:#EBBD1E}
			.sortby{
				  position:relative;
				 
				  background: white;
				  z-index:10000000000000;
			}
			
			
				.sortby ul {
				  position: absolute;
				  background: white;
				  border: 3px solid #CCCCCC;
				  margin:0;
				  padding:5px;
				  right: 2%;
				}
				.view.off .sortby ul {display:none}
				.sortby li{
					list-style:none;
					margin:0;
					padding:3px;
					font-size:.75em;
				}
		
.navigation_holder{
	width:100%;
	background-color:rgba(255,255,255, .95);
	position:fixed;
	bottom:25px;
	z-index:1000;
	padding-top:5px;
	border-top: 1px solid #0492CE;
	border-bottom: 1px solid #EBBD1E;
	
	
}
.navigation_holder.no-background{
	background:none;
	border:none;
	bottom:18px;
}
	.settings{
		float:left;
		width:1%;
		padding-top: 15px;
		padding:5px;
		padding-left:5px;
		padding-right:5px;
		font-size:1.2em;
		color:#999999;
		
	}
			
		
	 ul.checker{margin-left:5%; margin-right:6%; margin-top:0px; padding:0; float:left; width:1%;height:27px;}
			.checker li{list-style:none; cursor:pointer; margin-bottom:22px;}
			.checker li div.checkbox{
				
			   	padding:5px;
			   	
				 margin:auto;
				
				 margin-bottom:5px;
				 height:14px;
				 width:20px;
				 margin-left:0px;
				 font-size:17px;

				}
					.checker li.bigger_margin{margin-bottom:20px;}
					.checker li div span.top{
						color:#999999;
					}
					.checker li div.selected span.top{
						background:#999999;
					}
					.checker li div span.dkblue{
						color:#0057a5;
					}

					.checker li div.selected span.dkblue{
						background:#0057a5;
					}
					
					.checker li div span.green{
						color:#189E81;
					}

					.checker li div.selected span.green{
						background:#189E81;
					}
					
					.checker li div span.yellow{
						color:#EBBD1E;
					}

					.checker li div.selected span.yellow{
						background:#EBBD1E;
					}
					.checker li div span.foam{
						color:#1B6875
					}

					.checker li div.selected span.foam{
						background:#1B6875
					}
					.checker li div span.blue{
						color:#0492CE
					}

					.checker li div.selected span.blue{
						background:#0492CE
					}
					.checker li div span.dkstblue{
						color:#003350
					}

					.checker li div.selected span.dkstblue{
						background:#003350
					}
					.checker li div span.ltgreen{
						color:#8CC7C0
					}

					.checker li section.on span.ltgreen{
						background:#8CC7C0
					}
		
	.navigation {
	      margin-right: 1%;
		  margin-left: 0%;
		  text-transform: uppercase;
		  float: left;
		  /* background-color: #212122; */
		  overflow-x: scroll;
	  	   
	   
	}
		
		
			.navigation .header {
			    padding: 15px;
			  
			    background-color: #4e5053;
			}
			.navigation section {
			    
			    cursor: pointer;
			    list-style: none;
			    padding: 0;
			    margin: auto;
			    padding-bottom:1px;
			    
			    -webkit-transition: transform 0ms; 
			    transition: transform 0ms; 
			    transform-origin: 0px 0px 0px; 
			    transform: translate(0px, 0px) scale(1) translateZ(0px);
			    overflow:hidden;
	
			    
			}
			
			
				.navigation ul{
					padding:0;
					margin:auto;
					margin-bottom:0px;
					overflow-y:hidden;
				}
				.navigation li{
					float:left;		
					list-style-type:none;	
					margin-bottom:0px;
					cursor:pointer;	
				}
				.navigation li:active, .navigation li:hover{
					color:#EBBD1E;
					
				}
					.navigation li div {
					   padding:15px;
					   padding-top:5px;
					   padding-bottom:5px;
						 margin:auto;
						
					}
					
						.navigation li section span.item{
							
						}
					
						 nav.subnav{
							width:99.96%;
							position:relative;
							bottom:0px;
							border-right:1px dotted #ccc;
							border-left:1px dotted #ccc;
							z-index:1000;
							border:none;
							height:260px;
							
							
								}
								nav.subnav ul{margin:0px;padding:3px;}
									nav.subnav ul li{display:block; float:none;margin:4px; background:none}
									nav .subnav ul li.selected{background:none;}
									nav .subnav ul li.notselected{background:none;}
										nav.subnav ul li section {text-align:center;padding:0 ;padding-top:5px; height:32px; }
										nav .subnav ul li.notselected:hover section:after{ color:#fff; font-size:.5em; position:absolute; top:0px; left:0px;padding:3px;  }

										
										nav.subnav ul li.selected span{font-size:1.6em; color:white; padding:5px; padding-left:10px; padding-right:10px;}							
										nav.subnav .notselected{color:#cccccc}
						
					
		
			.navigation .selected {
		    /*background-color: #9061b2;*/
			}
				.selected .dkblue{
					background-color:#0057a5;
					border: 1px dotted #ffffff;
				}
				.selected .green{
					background-color:#198E81;
					border:1px dotted #ffffff;
				}
				.selected .blue{
					background-color:#0492CE;
					border:1px dotted #ffffff;
				}
				.selected .yellow{
					background-color:#EBBD1E;
					border:1px dotted #ffffff;
				}
				.selected .ltgreen{
					background-color:#8CC7C0;
					border:1px dotted #ffffff;
				}
				.selected .dkstblue{
					background-color:#003350;
					border:1px dotted #ffffff;
				}
				.selected .foam{
					background-color:#1B6875;
					border:1px dotted #ffffff;
				}
			
				
			.navigation .notselected{
			background-color:none;
			 color:#AAAAAA
			
			
			}
				.nav_ul .notselected section a{text-decoration:none; color:#AAAAAA}
				.nav_ul .notselected .dkblue, .nav_ul .notselected section.dkblue a{
				 	color:#0057a5;
				 	font-weight:bold;
				 	background:none;
				 	
				 	
				 }
				.nav_ul .notselected .green, .nav_ul .notselected section.green a{
				 	
				 	color:#198E81;
				 	font-weight:bold;
				 	background:none;
				 }
				 
				.nav_ul .notselected .blue, .nav_ul .notselected section.blue a{
				 	color:#0492CE;
				 	font-weight:bold;
				 	background:none;
				 }
				.nav_ul .notselected .yellow, .nav_ul .notselected section.yellow a{
				 	color:#EBBD1E;
				 	font-weight:bold;
				 	background:none;
				 }
				.nav_ul  .notselected .ltgreen, .nav_ul .notselected section.ltgreen a{
				 	font-weight:bold;
				 	background:none;
				 }
				.nav_ul  .notselected .dkstblue, .nav_ul .notselected section.dkstblue a{
				 	font-weight:bold;
				 	background:none;
				 }
				 .nav_ul .notselected .foam, .nav_ul .notselected section.foam a{
				 	color#1b6875;
				 	font-weight:bold;
				 	background:none;
				 }
				 .nav_ul .notselected .gray, .nav_ul .notselected section.gray a{
				 	color:#cccccc;
				 	font-weight:normal;
				 	background:none;	
				 }
				span.icon-newspaper, span.icon-images, span.icon-profile, span.icon-bubble, span.icon-chalkboard2, span.icon-stats{
					color:#AAAAAA; font-size:1.3em;
				}
				
				.icon_right>span.icon-newspaper, .icon_right>span.icon-images, .icon_right>span.icon-profile, .icon_right>span.icon-bubble, .icon_right>span.icon-chalkboard2, .icon_right>span.icon-stats{
					color:#FFFFFF; 
				}
footer{background-color:white; width:100%;height:25px; font-size: .75em;position:fixed; bottom:0; color:#0057a5; z-index:1000}
	footer a{color:#0057a5; text-decoration:none;}
	footer a:hover{text-decoration:underline}
				 
section .row{margin:0; }	
	.card{ height:auto;box-sizing:content-box; width:23%; display:inline-block; margin:1%; }
	
		a{color:white; text-decoration:underline}			 
		.card .states{font-size:.75em}
		.row .col-md-3, .row .col-md-2{border:5px solid #FFFFFF;margin:1%;  padding:10px; color:white;display:inline-block; vertical-align:top;}
		
		.row .col-md-3{width:100%; }	 
		.row .yellow,  button.yellow{background-color:#EBBD1E;} 
		.row .blue,  button.blue{background-color:#0492CE;}	
		.row .green,  button.green{background-color:#198E81}
		.row .dkblue,   button.dkblue{background-color:#0057a5;}			 
		.row .dkstblue, button.dkstblue{background-color:#003350;}	
		.row .ltgreen, button.ltgreen{background-color:#8CC7C0;}
		.row .foam, button .foam{background-color:#1B6875}	
			.card-text{height:210px; overflow:hidden; width:90%}
			.card-text h3{margin:0}
			.card-button{
			 font-size:12px;
			 overflow:hidden;
			  position:absolute;
			  bottom:10px;
			  box-shadow:none;
			  color:white;
			 }
			   .card-button a:hover, .card-button a:active{color:#EEBD1E;}
			 	a:hover button.yellow, a:active button.yellow  {color:#0057a5;} 
			  .card-button button{
			  	border-radius: 5px;
			  -moz-border-radius: 5px;
			  -webkit-border-hover: 5px;
			  -o-border-radius: 5px;
			  border-radius: 5px;
			  -moz-border-radius: 5px;
			  -webkit-border-hover: 5px;
			  -o-border-radius: 5px;
				border:1px solid #EBFAF7;
				display:block;
			  }
			  	.card-button button a{
			  		text-decoration:none;
			  	}
		.svg_us{
			cursor:pointer;
		}		
		 .icon_right, .icon_left {
		  position: absolute;
		  right: 2%;
		  font-size: 150%;
		 
		 }
		 .icon_left.blue{
		 	color:#0057a5;
		 }
		 	.share_box{border: 1px dotted #ccc;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-o-border-radius: 5px; padding:20px; background:white; z-index:100000; position:absolute; bottom:70px;width:255px; left:20px;box-shadow: 5px 5px 20 #ececec; color:black;font-family:arial; font-size:.85em; }
				.share_box div.social_media{float:left;}
				.share_box div, textarea{
					margin-top:3px;
				}
				.share_box div.state_on {
  						color: #0057a5;
						  border: none;
						  font-size: 29px;
						  background: white;
						  margin-bottom: 7px;
						  margin-right: 12px;
						  border: 1px dotted #ccc;
						  border-radius: 5px;
						  -moz-border-radius: 5px;
						  -webkit-border-radius: 5px;
						  -o-border-radius: 5px;
				}	
				.share_box div.state_off {
				  cursor: pointer;
				  color: white;
				  font-size: 29px;
				  background: #0057a5;;
				  border: 1px dotted #ccc;
				  border-radius: 5px;
				  -moz-border-radius: 5px;
				  -webkit-border-radius: 5px;
				  -o-border-radius: 5px;
				  margin-bottom: 7px;
				  margin-right: 12px;
				}	  
					.share_button {
					  float: left;
					  margin-top: 10px;
					  color: white;
					  background: #0057A5;;
					  padding: 3px;
					  margin-bottom: 3px;
					  font-size: .85em;
					  margin-right: 5px;
					  border: 1px dotted #ccc;
					  border-radius: 5px;
					  -moz-border-radius: 5px;
					  -webkit-border-hover: 5px;
					  -o-border-radius: 5px;
					  cursor: pointer;
					  text-decoration:none;
					}
					a.share_button:hover{
						color:white;
					}
				.hider{display:none;}
				.shower{display:block}
			
		 article .icon_right{
		 	position:absolute;
		 	right:2%;
		 	
		 	font-size: 1.2em;
		 }
		 .icon_right.type{
		 	bottom:10px;
		 }
		 .icon_right.favorite,  .icon_left.favorite{
		 	cursor:pointer;
		 	padding:0px 0px 5px 5px;
		 
		 }
		 
		 .large-font{
		 	font-size:2em;
		 	 bottom:30px;
		 	 right:1.33%;
		 	 z-index:100000000;
		 }
		 .large-font.icon_left{
		  left:2%;	
		  	font-size:1.7em;
		  	cursor:pointer;
		 }
		 .large-font.icon_right{
		  right:2%;	
		 }
		 .light-alpha{
		 	opacity:.8;
		 }
		 
	section[feature-image]{
   /* width: 100wh;
    height: 100vh;*/
   h
    color: #fff;
    font-family:'Bitter', serif;
   	/*-webkit-filter:saturate(.66);
   	-moz-filter:saturate(.66);*/
   	background-blend-mode: soft-light;
   	-webkit-background-blend-mode:soft-light;
   	background-repeat:no-repeat;
   	background-size:cover;
   
}
	

.feature-image-loader,.article-loader{
width:111px; margin-left:auto; margin-right:auto;;height:107px; position: relative; background-repeat:no-repeat; background-image:url(/images/NOAA-Logo.gif);  margin-top: 20%;
}
.article-loader{
	margin-top:5%;
}
section .stage_container_feature {
  width: 100%;
  position: fixed;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  background-position: top;
  background-blend-mode: luminosity;
 }
 section .stage_container_feature.home{
 	background-position:top right;
 	z-index:1000;
 }
	section .stage_container_feature div.caption{
		position:absolute;
		right:0;
		top:70px;
		font-style:italic;
		font-size:1.3em;
		padding:10px;
		background:rgba(0,87,165, .85);
	}
		section .stage_container_feature .button_holder{
		position:relative;
		z-index:100000000000000;
		}
		section .stage_container_feature .home_button{
		
		background:#EBBD1E;
		color:#0057a5;
		font-size:1em;
		float:right;
		border-radius: 5px;
		  -moz-border-radius: 5px;
		  -webkit-border-hover: 5px;
		  -o-border-radius: 5px;
		  border-radius: 5px;
		  -moz-border-radius: 5px;
		  -webkit-border-hover: 5px;
		  -o-border-radius: 5px;
		  padding:10px;
		
		margin-top:10px;
		margin-bottom:10px;
		font-style:normal;
	}
		section .stage_container_feature div.home{
			left:0;
			padding:10%;
			width:80%;
			margin:auto;
			bottom:25px;
			position:absolute;
		right:0;
		
		font-style:italic;
		font-size:1.3em;
		padding:10px;
		background:rgba(0,87,165, .85);
		}
section .stage_container_feature.dkblue{
	background-color:rgba(0, 87, 165, .3);
	color:rgb(235, 189,30)
}

section .stage_container_feature.yellow{
	background-color:rgba(235, 189,30 ,.3);
	color:rgb(0, 87, 165)
}

section .stage_container_feature.green{
	background-color:rgba(25,142,129 ,.3);
	color:#003350;
}
section .stage_container_feature.blue{
	background-color:rgba(4, 146, 206, .3)
	color:#1B6875;
}

section .stage_container_feature section{
    background-image: url('/25thAnniversary/images/DKBlue-BK.png');
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .05;
  height: 100%;
  width: 100%;
}

section .stage_container_card{
	  width: 100%;
  position: fixed;
  height: 100%;
  /*background-image: url();
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(4, 146, 206, 1);*/
  opacity: .1;
  z-index: -1;
}	

section .stage_container_card section{
   background-image: url('/25thAnniversary/images/Blue_BK.png');
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 87, 165, .3);
  opacity: .4;
  position: fixed;
}
	 
section.stage{
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	height:100%;
	margin-top:10px;
	
}		
	.preloader{
		width:111px; 
		margin-left:auto; 
		margin-right:auto;
		height:107px; 
		position: relative;
	 	background-repeat:no-repeat; 
	 	background-image:url(/images/NOAA-Logo.gif);  
		 margin-top: 20%;
		}
	
	.container{
	
	margin-bottom:40px;
	margin-top:65px;
	width:100%;
	height:90%;
	margin-bottom:5%;
	padding:0;
	position:relative;
	
	
	
	}
	.container input{
		width:50%;
		border:1px solid white;
		background:rgba(255, 255,255, .4);
		font-size:1.0em;
		padding:.25em;
		
		z-index:10000;
		border-radius:2px;
		}
		.container input:focus{
			background:rgba(255,255,255,.75);
			color:black;
		}
		.container input#search{
			margin-left:25%;
		position:absolute;
		top:1%;
		
		}
	table { 
		width: 99%; 
		border-collapse: collapse; 
		padding:1%;
		margin:1%;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
		
		table a{
			text-decoration:none;
			color:#0057a5;
		}
		table a:hover{
			text-decoration:underline;
			color:#EBBD1E;
		}
		
		/* Zebra striping */
		tr:nth-of-type(even) { 
			background: rgba(235, 250, 247 .8); 
		}
		tr:nth-of-type(odd) { 
			background: rgba(255, 248, 223, .8); 
		}
		th { 
			background: #0057a5; 
			color: white; 
			font-weight: bold;
			color:#fff;  
		}
		td, th { 
			padding: 6px; 
			border: 1px solid #ccc; 
			text-align: left;
			
		}
		td{
			color:#191919;
		}
			td.elipsis{text-overflow:ellipsis;}
			td.fav{color:#0057a5}
			td.yellow{border-bottom:1px solid #EBBD1E;} 
			td.blue{border-bottom: 1px solid #0492CE;}	
			td.green{border-bottom: 1px solid #198E81}
			td.dkblue{border-bottom:1px solid #0057a5;}			 
			td.dkstblue{border-bottom: 1px solid #003350;}	
			td.ltgreen{border-bottom: 1px solid #8CC7C0;}
			td.foam{border-bottom:1px solid #1B6875}	
	
			td.yellow a{color: #EBBD1E;} 
			td.blue a{color:#0492CE;}	
			td.green a{color: #198E81}
			td.dkblue a{color:#0057a5;}			 
			td.dkstblue a{color: #003350;}	
			td.ltgreen a{color: #8CC7C0;}
			td.foam a{color: #1B6875}	
		
		article{
			border-top:5px solid #EBBD1E;
			position:relative;
			top:83%;
			padding:3%;
			padding-top:.5%;
			color:white;
			
			width:90%;
			margin:auto;
			padding-bottom:10%;
			z-index:999;
			overflow-y:scroll;
			box-sizing:border-box;
						
		}
		article.dkblue{background-color: rgba(0, 87, 165, .9); border-top:5px solid #EBBD}
		article.blue{background-color: rgba(4, 146, 206, .9); border-top:5px solid #1B6875}
		article.yellow{background-color: rgba(235, 189, 30, .9); border-top:5px solid #0057a5}
		article.green{background-color: rgba(25, 142, 129, .9); border-top:5px solid #003350}
		
			article h2{
				  font-size: 2.0em;
				 margin-top: 3%;
				  margin-bottom: 2%;
				  padding-bottom: 2%;
				  padding-right: 6%;
				  padding-left: 0;
				  line-height:120%;
				  display:inline;
					}
					article h2 .yellow{border-bottom: 3px solid #EBBD1E;  box-sizing:border-box}
					article h2.dkblue{float:left; width:82%;}
					article detail{float:right; width:18%; box-sizing:border-box; background: rgba(255, 255,255, .7); border:1px dotted #ccc; padding:5px;  margin-top: 3%; color:#0057a5}
						article detail a{color:#0057a5}
						article detail a:hover{color:#EBBD1E}
			
			article .yellow{
					color: #EBBD1E;
  					
  					
  				}
  				
			article .blue, .main.blue a{color:#0492CE}
			article .green, .main.green a{color:#189E81}
			article .dkblue{color:#0057A5}
			article .dkstblue{color:#003350}
			article .foam{color:#1B6875}
			article h4{
				font-size:1.5em;
				font-style:italic;
				color:#EBFAF7;
				margin-top:4%;
				margin-bottom:4%;
			}
			
			.scroll{
				float:right;
				padding:5px;
				position:fixed;
				right:1%;;
				font-size:1.2em;
				cursor:pointer;
			}
			article section {width:97%;  padding-right:3% }
				article.section.main p{overflow:hidden}
				article p{font-size:1.25em;}
			article ul{
				margin:0;
				padding:0;
				margin-bottom:10px;
			}
			article ul li{
				list-style:none;
				padding:5px;
				display:inline-block;
				margin-right:10px;
				cursor:pointer;
				font-size:1.1em;
			}
			article ul li.on{
				background-color:#EBBD1E;
				
			}
			article ul.blogs li{
				display:block;
				padding-bottom:10px;
				cursor:pointer;
			}
			 article ul.images li{
				display:inline-block;
				vertical-align:top;
				padding-bottom:10px;
				cursor:pointer;
				
				
			}
			article ul.images, article ul.blogs{
				height:200px;
				overflow-y:scroll;
			}
			article ul.images li{
				height:75px;
				overflow:hidden;
			}
			article ul.blogs.off, article ul.images.off{
				display:none;				
			}
			
			article.columns div{
				
			}
			article .related_image{
				display:inline-block;
				width:100px; 
				height:100px;
				border:1px solid gray;
				padding:5px;
				margin:5px;
			}
			.close {
				
				color:#999;
				position:absolute;
				top:15px;
				right:20px;
				z-index:999;
				
			}
			.close{
				opacity:.5;
				color:#ccc;
				text-decoration:none;
				text-shadow:none;
				}	
			
			.close a{
				text-decoration:none;
				color:#999;
			}
			
.score {
    font-size: 36px;
    margin: 15px;
    color: #afb3b9;
}

.title {
    font-size: 18px;
}

	.title a {
	    text-decoration: none;
	    color: #fff;
	}

.author {
    font-size: 16px;
}

/**
 * Changed to a <b> because React wraps text nodes in
 * <span> elements if they have non-text-node siblings.
 */
	.author b {
	    color: #afb3b9;
	}
.clear{
	clear:both;
}	


::-webkit-scrollbar {
	      width: 7px;
		  padding:0px;
	} /* this targets the default scrollbar (compulsory) */
	
	
	::-webkit-scrollbar:horizontal {
	display:none;
	} /* this targets the default scrollbar (compulsory) */
	::-webkit-scrollbar:vertical {
	opacity:1;
	}
	
	::-webkit-scrollbar-track, iframe ::-webkit-scrollbar-track {
	      background-color: transparent;
	      display:none;
	} /* the new scrollbar will have a flat appearance with the set background color */
	::-webkit-scrollbar-thumb, iframe ::-webkit-scrollbar-thumb {
	      background-color:rgba(200, 200, 200, .5);
	      margin-right:0px;
		 
	} /* this will style the thumb, ignoring the track */
	::-webkit-scrollbar-thumb:hover {
	      background-color: rgba(200, 200, 200, .7);
		 
	}

.subnav.ng-hide-add, 
.subnav.ng-hide-remove, 
{
  -webkit-transition:all linear 0.35s;
  -moz-transition:all linear 0.35s;
  -o-transition:all linear 0.35s;
  transition:all linear 0.35s;
  display:block!important;
}

.subnav.ng-hide-add.ng-hide-add-active,
.subnav.ng-hide-remove,
 {
  position:relative
  opacity:0;
  left:0px;
  height:0
  
 
}


.subnav.ng-hide-add,
.subnav.ng-hide-remove.ng-hide-remove-active,
{
  left: 0;
  height: 100%;
  opacity:1;
 
}

.navigation_holder.ng-hide-add, 
.navigation_holder.ng-hide.remove {
  -webkit-transition:all linear .15s;
  -moz-transition:all linear .15s;
  -o-transition:all linear .15s;
  transition:all linear .15s;
  display:block!important;
}
.navigation_holder.ng-hide-add, 
.navigation_holder.ng-hide.remove {
	bottom:0px;
	opacity:0;
	height;0;
	
}
.navigation_holder.ng-hide-add, 
.navigation_holder.ng-hide.remove {
  bottom:25px;
 opacity:1;
 height:25px;
}

.subnav-fast.ng-hide-add, 
.subnav-fast.ng-hide-remove,
 {
  -webkit-transition:all linear 0.25s;
  -moz-transition:all linear 0.25s;
  -o-transition:all linear 0.25s;
  transition:all linear 0.25s;
  display:block!important;
}

.subnav-fast.ng-hide-add.ng-hide-add-active,
.subnav-fast.ng-hide-remove {
  opacity:0;
  
}

.subnav-fast.ng-hide-add,
.subnav-fast.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
 
}




 #slidesnav {
	top:95%; 
	margin-left:85%;z-index: 7;
	height: 20px;
	font-size: 15px;
/*position:absolute;	position: relative;*/
  position:absolute;
  }
 #slidesnav .slides-nav li{
		background:#189E81;
		font-size:.85em;
		color:#189E81;
		width:24px;
		height: 18px;
		float:left;
		padding-top: 4px;
		text-align:center;
		border: 1px solid #7bbeb0;
		margin-top: 2px;
		display:inline;
	}  






@media (max-width: 767px)
body {
padding:0;
}
	
@media screen and   (min-width:1601px)   {
	header{padding-top:10px;}
	header section.logo{background-image: url('/images/TASLogo_tn_lg.png'); height: 75px; width:75px;}
	.container{margin-top:115px;}
	.card{width:14.66%}
	.row .col-md-3{min-height:300px} 
	.internal_search{top:35px; }
	.bigImg .row .col-md-3{min-height:150px}	 
}	
@media screen and  (max-width: 1600px) and (min-width:1281px)   {
	header{padding-top:10px;}
	header section.logo{background-image: url('/images/TASLogo_tn_lg.png'); height: 75px; width:75px;}
	.container{margin-top:115px;}
	.card{width:18%;}
	.row .col-md-3{min-height:300px} 
	.internal_search{top:35px}
	.bigImg .row .col-md-3{min-height:150px}	 
}
@media screen and  (max-width: 1280px) and (min-width:1025px)   {
	header{padding-top:10px;}
	header section.logo{background-image: url('/images/TASLogo_tn_lg.png'); height: 75px; width:75px;}
	.container{margin-top:115px;}
	.card{width:23%; }	
	.row .col-md-3{min-height:300px} 
	.internal_search{top:35px; }
	.bigImg .row .col-md-3{min-height:150px}	
}

@media screen and  (max-width: 1024px) and (min-width:768px)   {
	header{padding-top:10px;}
	header section.logo{background-image: url('/images/TASLogo_tn_lg.png'); height: 75px; width:75px;}
	.container{margin-top:115px;}
	.internal_search{top:35px; }
	.bigImg .row .col-md-3{min-height:150px}	
	.row .col-md-3{min-height:300px} 
	.card{width:31%; }
	article h2, article detail{margin-top:4%}
		article{width:88%;}	 

}
@media screen and  (max-width: 767px) and (min-width:640px)   {
header section.logo{background-image: url('/images/TASLogo_tn_sm.png'); height: 50px;
}	
section.arrows{display:none;}	
	.row .col-md-3{min-height:300px;}
	.bigImg .row .col-md-3{min-height:100px}	
	.internal_search{top:25px; margin-left:80px; width:50%;}
	.viewIcons{top:20px;}
	.row .card{width:48%;}	
	article h2, article detail{margin-top:4.5%}
	article{width:88%;}

}

@media screen and  (max-width: 639px ) and (min-width: 480px)  {
header section.logo{background-image: url('/images/TASLogo_tn_sm.png'); height: 50px;}
	section.arrows{display:none;}
	.row .col-md-3{min-height:300px;}
	.internal_search{top:25px; margin-left:80px; width:45%;}
	.viewIcons{top:20px;}
	.card{width:48%; }	 
	.col-md-3{min-height:200px}
	.bigImg .row .col-md-3{min-height:150px}	
	article h2, article detail{margin-top:5.9%}	
	footer {font-size:.65em}
	article{width:85%;}
	

}

@media screen and  (max-width: 479px) and (min-width:321px){
	header section.logo{background-image: url('/images/TASLogo_tn_sm.png'); height: 50px;}
	.internal_search{top:25px; margin-left:80px; width:35%;}
	.viewIcons{top:20px;}
	

	section.arrows{display:none;}	
	.row .col-md-3{min-height:300px;}	
	.bigImg .row .col-md-3{min-height:150px}	
	.card{width:98%;float:none;height:auto;}	 
	 article h2, article detail{margin-top:8.8%}
	footer {font-size:.55em}
	.container{width:100%}
	
	section.stage {width:100%;}
	article detail{width:30%; }
	article h2.dkblue {width:70%;}
	article{width:100%;}
	.large-font{z-index: 100}
	.bigImg{width:95%; margin-left:0;}
	.viewIcons{top:5px;width:85px}
.view{font-size:1em;}
.view.fav{position:absolute; top:15px; right:85px;}

}	

@media screen and  (max-width: 320px) and (min-width:0px){
header section.logo{background-image: url('/images/TASLogo_tn_sm.png'); height: 50px;
}
article h2, article detail{margin-top:15%}
.card{width:98%;margin-bottom:15px;float:none;margin-top:0; margin-bottom:0}
.internal_search{top:25px; margin-left:80px; width:35%;}
.viewIcons{top:5px;width:85px}
.view{font-size:1em;}
.view.fav{position:absolute; top:15px; right:85px;}

footer {font-size:.55em; margin-top:2px; margin-bottom:2px;}	
article detail{width:30%; }
article h2.dkblue {width:70%;}
article{width:100%;}
	.bigImg ul{margin-left:-40%}
.large-font{z-index: 100}
.bigImg{width:95%; margin-left:0;}
}	

/*Make text sizes bigger for min-heights up to 1000*/
@media screen and (min-height: 1801px)   {
	.container{height:97%}
}
@media screen and (min-height: 1601px)  and (max-height:1800px)  {
	.container{height:95%}
}
@media screen and (min-height: 1401px)  and (max-height:1600px)  {
	.container{height:93%}

}

@media screen and (min-height: 1200px)  and (max-height:1400px)  {
	.container{height:93%}

}
@media screen and (min-height: 1001px) and (max-height:1199px)  {
	.container{height:90%}
	
}


@media screen and (min-height: 900px) and (max-height: 1000px) {
	.container{height:88%}
	
		
	
}

@media screen and (min-height: 800px) and (max-height: 899px) {
.container{height:88%}
}


@media screen and (min-height: 700px) and (max-height: 799px) {
	.container{height:81%}
	.bigImg div.contain{height:350px;top:0px;}
}
@media screen and (min-height: 600px) and (max-height: 699px)
{
	
	
	
	.container{height:81%}
	.bigImg div.contain{height:230px;top:0px;}
}

@media screen and (min-height: 500px) and (max-height: 599px)
{
	.container{height:78%}
	.bigImg div.contain{height:300px;top:0px;}
}

@media screen and (min-height: 400px) and (max-height: 499px)
{
	.container{height:70%}
	.preloader{margin-top:10%}
	.bigImg div.contain{height:250px;top:0px;}
}

@media screen and (min-height: 351px) and (max-height:399px)
{
	.container{height:63%}
	.preloader{margin-top:10%}
	.bigImg div.contain{height:140px;top:0px;}
	.bigImg{min-height:300px;}
	
}

@media screen and (min-height: 301px) and (max-height:350px)
{
	.container{height:58%}
	.preloader{margin-top:0%}
	.bigImg div.contain{height:100px;}
}

@media screen and  (max-height:299px)
{
	.container{height:45%}
	.preloader{margin-top:0%}
	.bigImg div.contain{height:80px;}
}
@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 100px; 
			overflow:hidden;
		}
		
		td::before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 20%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Headline"; }
		td:nth-of-type(2):before { content: "Year"; }
		td:nth-of-type(3):before { content: "Thumbnail"; }
		td:nth-of-type(4):before { content: "Description"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	

