<div ng-show="isLoadding==true" class="feature-big-loader"></div>
	<div ng-hide = "isLoading==true" id = 'image0' class="stage_container_card" feature-image-big="https://teacheratsea.files.wordpress.com/2015/03/nsta-chicago.jpg" color='4, 146, 206' blend='overlay' alpha='1'>
	<div></div>
</div>


<section class="stage" >
	<div class="container" infinite-scroll = "addMore()" infinite-scroll-distance="2" elmwin = 'elem' child='row' >
	
      <div class="row"  >
      <div  ng-repeat ="item in alldata.data">
				
       		<ca-rd type="{{item.template}}" image="{{item.image}}"></ca-rd>
       </div>
        
      </div>
	<div class="clear"></div>
    </div>
</section>

