<style>
	a {color:#0057a5;}
	h2{margin:15px; color:#0057a5;}
	
	
</style>

<div style="font-family:Arial, Tahoma, san-serif; background:#EBFAF7;border:1px solid #ccc; margin:10px; margin-top:0px;color:black;">
<div style="position:absolute;right:15px; margin-right:10px;margin-left:10px;margin-top:15px;"><ul> 
                               <li style="list-style-type:none; display:inline; margin:1px;"><a href="http://teacheratsea.wordpress.com" target="_blank"><img src="http://www.tas.noaa.gov/images/wp_logo.png" width="20" height="20" class="icon" alt="wordpress"></a></li>

           <li style="list-style-type:none; display:inline; margin:1px;" "=""><a href="http://www.facebook.com/noaateacheratsea" target="_blank"><img src="http://www.tas.noaa.gov/images/facebook.png" width="20" height="20" class="icon" alt="facebook"></a></li>
           <li style="list-style-type:none; display:inline; margin:1px;" "=""><a href="http://twitter.com/teacheratsea" target="_blank"><img src="http://www.tas.noaa.gov/images/twitter.png" width="20" height="20" class="icon" alt="twitter"></a></li>

           <li style="list-style-type:none; display:inline; margin:1px;" "=""><a href="http://www.flickr.com/photos/60919111@N08/sets/72157626264008559/with/6635298211/" target="_blank"><img src="http://www.tas.noaa.gov/images/flickr.png" alt="flickr" width="20" height="20" class="icon"></a></li>
           <li style="list-style-type:none; display:inline; margin:1px;" "=""><a href="http://www.youtube.com/playlist?list=PLFC2C10270ABB3B09" target="_blank"><img src="http://www.tas.noaa.gov/images/youtube.png" width="21" height="20" class="icon" alt="youtube"></a></li>
              <li style="list-style-type:none; display:inline; margin:1px;" "=""><a href="/media/Feeds.html"><img src="http://www.tas.noaa.gov/images/feed-icon-22x22.png" width="20" height="20" class="icon" alt="rss feed"></a></li>
     </ul>
	 </div>
	 <div style="margin-top:70px"></p><h2 >NOAA Teacher at Sea Program</h2><h6 style="font-size:16px;color:#0057a5;margin-bottom:10px; margin-top:10px; margin-left:20px; margin-right:20px; ">Thanks for visiting our site and supporting our program! </h6> <p style="margin-bottom:10px; margin-left:20px;margin-right:20px; font-size:14px">You're Teacher at Sea favorite stories are below.</p>
	<div style="margin:15px;; width:100%;" ng-repeat="item in cards"><div class="box" style=" width:37%;padding:2%;margin-right:5px; margin-bottom:10px; border:1px solid #ccc; float:left; margin-left:5px;min-height:90px	; font-size:14px;background-color:#FFF8DF;"><div style="float:left;margin-left:0px;max-height:75px;overflow:hidden; margin-bottom:10px;margin-right:5%;"><img style="border:1px solid #ccc" src="{{item.image}}?w=100" alt="{{item.headline}}"></div><p style="margin-top:0;"><a href="/25thAnniversary/#/{{item.url}}" target="_blank">{{item.headline}}</a></p>
<div style="margin:20px; margin-top:0px; margin-bottom:0px; "></div></div></div>
<div style="clear:both"></div><div style="clear:both"></div><div style="clear:both"></div></div><p style="margin:20px;font-size:14px">Check out our <a href="http://www.tas.noaa.gov/dyk">Did You Know: Tweets from Sea</a> and our  <a href="http://teacheratsea.noaa.gov/media/photo_of_week.html">Photo of the Week</a> for some great classroom resources!</p>

<p style="margin:20px;font-size:14px">Want to learn more about the great things our teachers have been up to, go to the <a href="http://www.tas.noaa.gov/alumni/spotlight.html">Alumni Spotlight</a> page to keep up with</p>

<p style="margin:20px;font-size:14px">Have a question about our program, drop us a line at <a href="mailto:teacheratsea@noaa.gov">teacheratsea@noaa.gov</a></p>

<p style="margin:20px;font-size:14px">Remember to like us on <a href="http://www.facebook.com/noaateacheratsea">Facebook</a> and Follow us on <a href="http://twitter.com/teacheratsea"> Twitter</a>!</p> </div>
