<div ng-show="isLoading==true" loading={{isLoading}} class="feature-image-loader"></div>


<section class="stage_container_feature dkblue home" feature-image-big="http://teacheratsea.files.wordpress.com/2011/08/p1080864-smaller.jpg" ng-hide="isLoading==true" >	
	<div class="home yellow">The NOAA Teacher at Sea Program is celebrating 25 years of giving educators real-world, research experience on NOAA research cruises. With an active alumni network and a once-in-a-lifetime experience, for our teachers, <strong>the cruise is just the beginning.</strong> <div class="button_holder"><a href="#/cards"><button  class="home_button">Learn More »»</button></a></div></div>
			
	
	<section >
	</section>
</section>




