
<nav class="navigation_holder no-background" ng-hide="showDiv==true"  >
	<section class="settings" ng-click="controlSubNav()" >
		<span class="icon-cog"></span>
	</section>
</nav>

<nav class="navigation_holder" ng-hide="showDiv==false"  >
	<section class="settings" ng-click="controlSubNav()" >
		<span class="icon-cog"></span>
	</section>
		
		<ul class="checker">
			<li>
				<div class="checkbox {{allchecked}}" ng-click="changeNavCheck('all', allchecked, on_off)">
						<span class="icon-checkbox-unchecked top"></span>
				</div>
				
			</li>
			<li ng-hide="noSubNav==true" ng-repeat="item in items.years[0].subNav" on_off="{{item.on_off}}" year="{{item.year}}"  >
				<div class="checkbox {{item.checked}}" ng-click="changeNavCheck(item.type, item.checked, item.on_off)">
						<span class="icon-checkbox-unchecked {{item.color}}"></span>
						
				</div>
				
			</li>
		</ul>

	<section class="navigation" style="width:83%" >
		<section style="width:{{yearsWidth}}px;" id="nav">
			<ul class="nav_ul" event-delegate="li div.main |changeNavClass(item)" type="click">
				
				<li width={{listwidth}} ng-repeat = "item in items.years" class="{{item.state}} " >
					
					<div class="{{item.color}} main">
						<span class="item" ng-enter = "changeNavClass(item)">{{item.year}}</span>
					</div>
					<nav class="subnav" ng-hide="noSubNav==true"  >
						<ul event-delegate="li section span |changeNavClass(item, subNav)" type="click">
							
							<li  ng-repeat="subNav in item.subNav"  class="{{subNav.state}}">
								<section class="{{subNav.type}} {{subNav.color}}">
									<span class="{{subNav.classy}}"></span>
								</section>
								
							</li>
							
							
						</ul>
					</nav>
				</li>
				<section class="clear"></section>
			</ul>
 
		</section>
			
	</section>
	
	<section class="clear"></section>
</nav>
