<div ng-show="isLoading==true" loading={{isLoading}} class="feature-image-loader"></div>
<div class="close"><a href="#/cards/"><span class="icon-cancel-circle"></span></a></div>

<section class="stage_container_feature yellow" feature-image-big="{{storyContent.src}}" ng-hide="isLoading==true" >	
	<section >
	</section>
	
</section>
<section class="stage">
		
	<section class="container">
		
		<article bottom-postion class="yellow" loading="{{loading}}" >
			<section  class="article-loader" ng-show="loading==true"></section>
			<h2 class="dkblue">{{storyContent.headline}}</h2>
			<detail> 
			<a href="{{storyContent.parent}}" target="_blank">Learn more</a>
			<br> <br><a href="{{storyContent.src}}" target="_blank">View High Resolution Photo</a>
		</detail>
			<div class="clear"></div>
			
				<!--Need to watch the Window Height and adjust as window Height is changed - see TAS Main site (Carousels, BigImages, etc)-->
				<section class="main"  >
					
				<p ng-bind-html="storyContent.description">
					
				</p>
				
		
				
	</section>
		</article>
	</section>
</section>	


