{{hideMap}}
<div ng-show="hideMap==false"  class="bigImg">
	<div class="bigImgClose" ng-click="hideMap=true"><img style="cursor:pointer" alt="collapse button_bigger_white" class="icon" src="/images/collapse_btn_bigger_white.png" height="30" width="30">
	</div>	<div style="max-width:650px; margin:auto">

		
		<div class="svg_us" ng-include="'svg/Big_US_Map.svg'" imgaeonload></div>
	</div>
	<div class="caption" id="bigCaption" style="font-size:15px">
		<em>map.description</em>
		
		
	</div>

	
</div>
