<div ng-show="isLoading==true" loading={{isLoading}} class="feature-image-loader"></div>
<div class="close"><a href="#/cards/"><span class="icon-cancel-circle"></span></a></div>

<section class="stage_container_feature dkblue" feature-image-big="{{storyContent.src}}" ng-hide="isLoading==true" >	
	<section >
	</section>
</section>
<section class="stage">
	<section class="container">
		
		<article bottom-postion class="dkblue" loading={{loading}}  >
		<section  class="article-loader" ng-show="loading==true"></section>
			<h2 class="yellow">{{storyContent.headline}}</h2>
			
			
				<!--Need to watch the Window Height and adjust as window Height is changed - see TAS Main site (Carousels, BigImages, etc)-->
				<section class="main" >
					<h4>{{storyContent.headline}} teaches at {{storyContent.school}} in {{storyContent.city}}, {{storyContent.state}}.</h4>
				<p>Check out {{storyContent.firstname}}'s blogs and photos:</p>
				<p> Create an Element that has links to blog posts and photos - bring in using php scripts</p>
				<div class="columns">
					<div>Blogs</div>
					<div>Photos</div>
					<div>Videos</div>
				</div>

	</section>
		</article>
	</section>
</section>	


