<div ng-show="isLoading==true" loading={{isLoading}} class="feature-image-loader"></div>
<div><a class="close" href="#/cards/"><span class="icon-cancel-circle"></span></a></div>

<section class="stage_container_feature green" feature-image-big="{{storyContent.src}}" ng-hide="isLoading==true" >	
	<section >
	</section>
</section>
<section class="stage">
	<section class="icon_right large-font light-alpha"><span class="{{storyContent.classy}}"></span></section>

	<section class="container">
		
		<article bottom-postion class="green" loading="{{loading}}">
			<section  class="article-loader" ng-show="loading==true"></section>
			<h2 class="dkstblue">{{storyContent.headline}}</h2>
			
			
				<!--Need to watch the Window Height and adjust as window Height is changed - see TAS Main site (Carousels, BigImages, etc)-->
				<section class="main"  >
					
				<p ng-bind-html="storyContent.description">
					
				</p>
				

	</section>
		</article>
	</section>
</section>	


